body {
    font-family: sans-serif;
    font-size: 1.5vw;
    margin: 0;
    background-color: rgb(241, 245, 248);
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    transition-property: text-decoration;
    transition-duration: 0.5s;
}

p {
    color: grey
}

#head-nav li {
    display: inline-block;
    box-sizing: border-box;
    padding: 1em;
}

header {
    background-color: white;
    filter: drop-shadow(0em .1em .5em rgba(0, 0, 0, 0.205));
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
    position: sticky;
    /* top: 8px; */
    top: 0;
    /* width: 100vw; */
    /* margin: 8px auto; */
    box-sizing: border-box;
    padding: 0 5em;
    z-index: 2;
}

#head-nav a {
    color: black;
}

/* } */

a:hover {
    text-decoration: underline;
}

#hero {
    background-color: white;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    box-sizing: border-box;
    width: 60em;
    border-radius: 3em;
    padding: 3em;
    margin: 1em auto 5em;
    /* margin-top: 1em; */
}

#hero-container {
    font-size: 1.5vw;
    box-sizing: border-box;
    width: 21em;
}

#hero-container h2 {
    font-size: 4vw;
}

#more {
    display: flex;
    justify-content: space-between;
    /* padding: 0; */
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 1em 2em;
    border: 0.1em solid rgb(75, 113, 236);
    border-radius: 0.5em;
    transition-property: color, background-color;
    transition-duration: 0.5s;
}

.btn a:hover {
    text-decoration: none;
}

#start {
    color: white;
    background-color: rgb(75, 113, 236);
}
#start a {
    color: inherit;
}
#start:hover {
    color: rgb(75, 113, 236);
    background-color: white;
}

#learn {
    color: rgb(75, 113, 236);
    background-color: white;
}
#learn a {
    color: inherit;
}
#learn:hover {
    color: white;
    background-color: rgb(75, 113, 236);
}

#img1 {
    /* width: 30em; */
    height: 15em;
    border-radius: 4%;
}

#features {
    margin-bottom: 3em;
}

.heading {
    text-align: center;
    margin-bottom: 2em;
    font-size: 3vw;
}

#card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    filter: drop-shadow(0em 0em .5em rgba(0, 0, 0, 0.205));
    width: 60em;
    margin: 0 auto;
}

.emoji {
    font-size: 2em;
    padding-bottom: 0.5em;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15em;
    /* box-sizing: border-box; */
    padding: 4em 2em;
    border-radius: 10%;
    text-align: center;
}

#about {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 3em;
    box-sizing: border-box;
    width: 60em;
    border-radius: 3em;
    margin: 5em auto;
}

#bumpers {
    display: flex;
    justify-content: space-around;
}

#img2 {
    height: 12em;
    border-radius: 4%;
}

#gateway {
    background-color: rgb(26, 40, 65);
    color: white;
    display: flex;
    justify-content: space-around;
}

#copy {
    text-align: center;
    margin: 0 auto;
    padding: 2em;
    background-color: rgb(26, 40, 65);
}

#emojis {display: none;}