body {
    font-family: sans-serif;
    font-size: 1vw;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: white;
    filter: drop-shadow(0em .1em 0.1em rgba(0, 0, 0, 0.205));
    position: sticky;
    top: 8px;
    /* width: 100vw; */
    margin: 8px auto;
    /* box-sizing: border-box; */
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#head-nav li {
    display: inline-block;
    box-sizing: border-box;
    padding: 1em;
}

#emojis {display: none;}