.content {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    position: absolute;
}

/* circle:nth-child(odd) {
    animation: pulse ease-in-out 4s infinite;
    fill: rgb(168, 168, 168);
}

circle:nth-child(even) {
    animation: pulse2 ease-in-out 4s infinite;
    fill: rgb(168, 168, 168);
} */

 circle {
    animation: pulse ease-in-out 4s infinite;
    fill: rgb(168, 168, 168);
 }

.pulse0 {
    color: hotpink;
}
.pulse1 {
    color: red;
    animation-delay: 0.5s;
}
.pulse2 {
    color: rgb(255, 102, 0);
    animation-delay: 1s;
}
.pulse3 {
    color: rgb(255, 187, 0);
    animation-delay: 1.5s;
}
.pulse4 {
    color: yellowgreen;
    animation-delay: 2s;
}
.pulse5 {
    color: turquoise;
    animation-delay: 2.5s;
}
.pulse6 {
    color: blue;
    animation-delay: 3s;
}
.pulse7 {
    color: purple;
    animation-delay: 3.5s;
}

@keyframes pulse {
    0% {fill: rgb(168, 168, 168);}

    50% {fill: currentColor;}

    100% {fill: rgb(168, 168, 168);}
}

@keyframes pulse2 {
    0% {fill: currentColor;}

    50% {fill: rgb(168, 168, 168);}

    100% {fill: currentColor;}
}