
.bookend {
    background-color: rgb(159, 95, 219);
    border: solid .2em;
    box-sizing: border-box;
    text-align: center;
    margin: 1em 0;
    padding: 1em;
}

.bookend a {
    display: block;
    text-decoration: none;
    margin-top: 0.5em;
}

.bookend a:hover {
    text-decoration: underline;
}

.bookend a:active {
    text-decoration: underline;
}