/* main {min-width: 1050px;} */

header {
    position: sticky;
    top: 8px;
    padding: 25px;
    height: 105px;
    z-index: 3;
}

header h1{
    display: inline;
}

header nav {
    display: inline;
    float: right;
    margin-top: 17px;
    margin-right: 20px;
}

header nav a{
    padding: 10px;
}

body {
    background-color: rgb(240, 182, 255);
}

#about {
    position: relative;
    /* width: 1400px; */
    /* height: 580px; */
    /* margin-inline: auto; */
    background-color: rgb(231, 164, 76);
    filter: drop-shadow(-15px 15px rgb(255, 217, 0));
    border-radius: 50%;
    aspect-ratio: 1.8/1;
    max-width: 1050px;
    min-width: 835px;
    /* min-width: 885px; */
    margin: 0 auto;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -0%); */
}

#box {
    position: absolute;
    height: 580px;
    width: 1050px;
    background-color: rgb(231, 164, 76);
    filter: drop-shadow(-15px 15px rgb(255, 217, 0));
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#about h2 {
    position: relative;
    /* margin-inline: auto; */
    text-align: center;
    top: 10%;
    z-index: 2;
}

#about-child{
    position: relative;
    display: flex;
    /* margin: 32px; */
    /* padding: 32px; */
    align-items: center;
    /* width: 770px; */
    /* width: .8em; */
    max-width: 890px;
    /* min-width: 725px; */
    aspect-ratio: 2.8/1;
    /* padding: 0 5em; */
    top: 15%;
    /* left: 50%;
    transform: translate(-50%, -65%); */
    z-index: 2;
    /* top: 1%; */
    /* margin-inline: auto; */
    margin: 0 auto;
    justify-content: center;
}

#selfie{
    display: block;
    float: right;
    margin-left: 2%;
    border: solid 1px;
}

#send-message{
    border: solid;
    /* margin-bottom: 10px; */
    min-width: 811px;
    margin: 0 auto 10px;
    /* width: 95vw; */
}

footer {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}

footer a {
    display: block;
}

.bookend {
    background-color: rgb(159, 95, 219);
    border: solid 2px;
    width: 95vw;
    margin: 0 auto;
    min-width: 835px;
    box-sizing: border-box;
}

@media only screen and (max-width: 1090px) {
    #selfie {display: none;}
    #about-child {
        aspect-ratio: 2/1;
        /* width: 600px; */
        top: 17px;
        /* left: 50%;
        transform: translate(-50%, -50%); */
        margin: 0 80px;

    }
}