body {font-size: .8vw;}

header {
    position: sticky;
    top: .5em;
    padding: 1.5em;
    height: 7em;
    z-index: 2;
}

header h1{
    display: inline;
}

header nav {
    display: inline;
    float: right;
    margin-top: 1em;
    margin-right: 2em;
}

header nav a {
    padding: 1em;
}

body {
    background-color: rgb(240, 182, 255);
}

#about {
    position: relative;
    background-color: rgb(231, 164, 76);
    filter: drop-shadow(-1.5em 1.5em rgb(255, 217, 0));
    border-radius: 50%;
    aspect-ratio: 1.8 auto;
    width: 90vw;
    max-width: 65em;
    min-width: 50em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about-head {
    position: relative;
    text-align: center;
    top: 5em;
    z-index: 1;
}

#about-child {
    position: relative;
    display: flex;
    align-items: center;
    width: 40vw;
    aspect-ratio: 3 auto;
    margin: 0 auto;
}

#selfie{
    display: block;
    float: right;
    margin-left: 1em;
    border: solid .15em;
    width: 15em;
}

.section {
    margin-left: 2em;
}

.section div {
    margin-left: 2.5em;
}


#send-message {
    border: solid;
    min-width: 28em;
    margin: 0 auto 1em;
    box-sizing: border-box;
    width: 95vw;
}

#send-message div {
    display: inline-block;
}

#send-message .input {
    font-size: 1em;
}

footer {
    text-align: center;
    margin-bottom: 1em;
    padding: 1em;
}

footer a {
    display: block;
}

.bookend {
    background-color: rgb(159, 95, 219);
    border: solid .2em;
    width: 95vw;
    margin: 0 auto;
    box-sizing: border-box;
}

@media only screen and (max-width: 1200px) {
    body {font-size: 1vw;}
    #about-child {width: 50vw;}
}

@media only screen and (max-width: 992px) {
    body {font-size: 1.25vw;}
    #about-child {width: 60vw;}
    #about-head {top: 4em;}
}

@media only screen and (max-width: 768px) {
    body {font-size: 1.5vw;}
    #about-child {width: 70vw;}
    #about-head {top: 4em;}
}
@media only screen and (max-width: 600px) {
    body {font-size: 1.75vw;}
    #about-child {
        width: 75vw;
        aspect-ratio: 2 auto;
        margin-left: 6em;
    }
    #about-head {top: 4em;}
    #selfie {width: 8em;}
    #about-head {top: 3em;}
    
}