body {font-size: 1vw;}

header {
    position: sticky;
    /* top: 8px; */
    top: .5em;
    /* padding: 25px; */
    padding: 1.5em;
    /* height: 105px; */
    height: 7em;
    z-index: 1;
}

header h1{
    display: inline;
}

header nav {
    display: inline;
    float: right;
    /* margin-top: 17px; */
    margin-top: 1em;
    /* margin-right: 20px; */
    margin-right: 2em;
}

header nav a{
    padding: 1em;
}

body {
    background-color: rgb(240, 182, 255);
}

#about {
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    /* width: 1400px; */
    /* height: 580px; */
    /* margin-inline: auto; */
    background-color: rgb(231, 164, 76);
    filter: drop-shadow(-1.5em 1.5em rgb(255, 217, 0));
    border-radius: 50%;
    aspect-ratio: 1.8 auto;
    width: 90vw;
    /* max-width: 1050px; */
    /* min-width: 797px; */
    max-width: 65em;
    min-width: 50em;
    /* min-width: 835px; */
    /* min-width: 885px; */
    margin: 0 auto;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -0%); */
}

/* #box {
    position: absolute;
    height: 580px;
    width: 1050px;
    background-color: rgb(231, 164, 76);
    filter: drop-shadow(-15px 15px rgb(255, 217, 0));
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
} */

#about h2 {
    position: relative;
    /* margin-inline: auto; */
    text-align: center;
    top: 10%;
    /* z-index: 2; */
}

#about-child{
    position: relative;
    display: flex;
    /* margin: 32px; */
    /* padding: 32px; */
    align-items: center;
    /* width: 770px; */
    /* width: .8em; */
    /* max-width: 830px; */
    width: 50vw;
    /* max-width: 50em; */
    /* min-width: 725px; */
    aspect-ratio: 2 auto;
    /* padding: 0 5em; */
    top: 52%;
    /* left: 50%; */
    transform: translate(02%, -65%);
    z-index: 2;
    /* top: 1%; */
    /* margin-inline: auto; */
    margin: 0 auto;
    border-radius: 50%;
}

#selfie{
    display: block;
    float: right;
    margin-left: 1em;
    border: solid .15em;
    width: 15em;
}

#send-message {
    border: solid;
    /* margin-bottom: 10px; */
    /* min-width: 446px; */
    /* min-width: 797px; */
    min-width: 28em;
    margin: 0 auto 1em;
    box-sizing: border-box;
    width: 95vw;
}

#send-message div {
    display: inline-block;
}

#send-message .input {
    font-size: 1em;
}

footer {
    text-align: center;
    margin-bottom: 1em;
    padding: 1em;
}

footer a {
    display: block;
}

.bookend {
    background-color: rgb(159, 95, 219);
    border: solid .2em;
    width: 95vw;
    margin: 0 auto;
    /* min-width: 28em; */
    /* min-width: 446px; */
    /* min-width: 797px; */
    box-sizing: border-box;
}

/* @media only screen and (max-width: 1090px) {
    #about-child { */
        /* aspect-ratio: 3 auto; */
        /* box-sizing: border-box; */
        /* margin: 0 5em; 0 10em;
        width: auto; */
        /* top: 17px; */
        /* left: 15px; */
        /* left: 50%;
        transform: translate(-50%, -50%); */
        /* margin: 0 80px; */
        /* margin: 0 12vw; */
        /* min-width: 668px; */
        /* min-height: 321px; */
    /* }
    #selfie {
        width: 10em;
        display: none;
    }
} */