body {
    background: linear-gradient(135deg, #E079C0 0%, #B2E079 100%);
}

#heading h1 {
    height: fit-content;
}

#heading {
    position: sticky;
    top: 0.5em;
    z-index: 3;
}

.navSection {
    height: fit-content;
}

h3 {
    text-align: center;
    margin-bottom: 1em;
}

h2 {
    text-align: center;
    margin: 0.5em 0 1em;
}

.moreUnder {
    margin-bottom: 2em;
}

p {
    color: black;
}

#bootcamp {
    margin-top: 4em;
}

.cardContainer {
    margin: 0 0 1.5em 0;

}

.card-img-top {
    border-radius: 1.7em 1.7em 0 0 ;
}

.card {
    min-width: 13rem;
    margin: 1em 0;
    border: 0.3em solid rgb(159, 95, 219);
    border-radius: 2em;
    filter: drop-shadow(0em 0em 0.5em rgba(0, 0, 0, 0.205));
    transition-property: transform, filter;
    transition-duration: 0.5s;
}
.card:hover, .card:active {
    transform: translateY(-2em);
    filter: drop-shadow(0em 2em 1em rgba(0, 0, 0, 0.205));
}

.card-inner {
    text-align: center;
}

.accordion {
    filter: drop-shadow(0em 0em 0.5em rgba(0, 0, 0, 0.205));
    border: solid .2em #554961;
    border-radius: 0.5em;
}

.accordion-button:not(.collapsed) {
    background-color: rgb(159, 95, 219);
}
.accordion-button:focus {box-shadow: none;}

#bootcamp, .card-body, #otherLinks, .cardContainer, main, #guided-practice, #repo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bootcamp, #otherLinks {
    width: 90vw;
    background-color: rgb(255, 250, 243);
    border-radius: 2em;
    padding: 2em;
    margin: 3em 0;
    filter: drop-shadow(0em 0em 0.5em rgba(0, 0, 0, 0.205));
}

#guided-practice, #projects, #codecademy-projects, #repo {
    width: 80vw;
    background-color: rgb(255, 236, 214);
    border: 0.5em solid bisque;
    border-radius: 1em;
    padding: 3em 2em;
    margin: 1em;
    justify-content: center;
}

#otherLinks .cardContainer, #repoHead {
    margin: 0;
}

@media (min-width: 576px) {
    .accordion-body {
        margin-left: 1em;
    }

    .accordion {
    min-width: 375px;
    }
}

@media (min-width: 768px) {
    .accordion-body {
        margin-left: 2em;
        margin-right: 1em;
    }

    .accordion {
    min-width: 528px;
    }
    
    .navLeftOne {
        text-align: end;
    }
}

@media (min-width: 992px) {
    .accordion-body {
        margin-left: 3em;
        margin-right: 2em;
    }

    .accordion {
    min-width: 707px;
    }

    .navRightOne {
        text-align: end;
    }
}

@media (min-width: 1200px) {

    .navLeftOne {
        text-align: center;
    }

    .navRightOne {
        text-align: start;
    }

    .navLeftTwo {
        text-align: end;
    }

    .navRightTwo {
        text-align: start;
    }

    .accordion {
    width: 874px;
    }
    
}

@media (min-width: 1500px) {

    .navLeftOne {
        text-align: end;
    }

    .navRightOne {
        text-align: center;
    }

}